.aboutTitle {
	margin-bottom: 5px;
	font-size: 4rem;
}

.aboutShortInfo {
	margin-top: 5px;
	font-size: 1.5rem;
}

.textLink{
	text-decoration: none;
	color: #34a26b;
}

.textLink:hover {
	text-decoration: underline;
}