.sbTitle {
	margin-left: 40px;
	color: #34a26b;
}


.sideSubTitle {
	margin-left: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.sidebar {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(43, 42, 42);
	overflow-x: hidden;
	padding-top: 16px;
}