.sbTitle {
	color: rgb(43, 42, 42);
}

.pageIcon {
	color: rgb(43, 42, 42);
}

.sidebar {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100%;
	width: 110px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #34a26b;
	overflow-x: hidden;
	padding-top: 16px;
}

.nav {
	margin-top: 15px;
}