.sbTitle {
	color: rgb(43, 42, 42);
}

.pageIcon {
	color: rgb(43, 42, 42);
}

.sidebar {
	display: flex;
	flex-flow: column;
	align-items: center;
	height: 100%;
	width: 140px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #34a26b;
	overflow-x: hidden;
	padding-top: 16px;
}

.sidebarContent {
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media only screen and (max-width: 768px) {
	.sidebar, .sidebar * {
		display: none;
	}
}