.nav p, .nav h1, .nav h2, .nav h3, .nav h4, .nav h5, .nav h6 {
	color: white;
}

.navItems {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 0px;
	margin-top: 10px;
	list-style: none;
}

.navItems .navItem a{
	font-size: 18px;
	font-weight: bold;
	color: rgb(43, 42, 42);
	text-decoration: none;
	transition: all 1.5s ease;
}

.navItems .navItem a:hover{
	color: white;
}